@using System.Security.Claims


<nav class="navbar navbar-dark align-items-start sidebar position-sticky sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" asp-controller="Home" asp-action="Index">
            <div class="sidebar-brand-icon rotate-n-15">
            </div>
            <div class="sidebar-brand-text mx-3">
                <span>e-quiz</span>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
        @if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
        {
            <ul class="navbar-nav text-light" id="accordionSidebar">

                <li class="nav-item">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Subjects" asp-action="Enrollment">
                        <i class="fas fa-book-open"></i>
                        <span>Subjects</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Profile" asp-route-username="@User.Identity.Name">
                        <i class="fas fa-user"></i>
                        <span>Profile</span>
                    </a>
                </li>


                @if (User.HasClaim(ClaimTypes.Role, "2"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Quizzes" asp-action="Index">
                            <i class="bi bi-mortarboard"></i>
                            <span>Teacher</span>
                        </a>
                    </li>
                }
                else if (User.HasClaim(ClaimTypes.Role, "4"))
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Quizzes" asp-action="Index">
                            <i class="bi bi-mortarboard"></i>
                            <span>Teacher</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Secretary" asp-action="Index">
                            <i class="bi bi-pencil"></i>
                            <span>Secretary</span>
                        </a>
                    </li>

                }
                else if (User.HasClaim(ClaimTypes.Role, "6"))
                {

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Quizzes" asp-action="Index">
                            <i class="bi bi-mortarboard"></i>
                            <span>Teacher</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Secretary" asp-action="Index">
                            <i class="bi bi-pencil"></i>
                            <span>Secretary</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">
                            <i class="bi bi-incognito"></i>
                            <span>Admin</span>
                        </a>
                    </li>

                }

                <li class="nav-item">
                    <a class="nav-link" asp-controller="User" asp-action="Logout">
                        <i class="fas fa-sign-out-alt" style="color: var(--bs-red);">

                        </i><span style="color: var(--bs-red);background: rgba(231,74,59,0);">Log Out</span>
                    </a>
                </li>
            </ul>
            <div class="text-center d-none d-md-inline">
                <button class="btn rounded-circle border-0" id="sidebarToggle" type="button">
                </button>
            </div>
        }
    </div>
</nav>