@model IEnumerable<ADOPSEV1._1.Models.Subject>

@{
    ViewData["Title"] = "Enrollment";
}

<h1>Index</h1>


<div class="overflow-auto" style="max-height: 700px;">
    <ul>

        @foreach (var obj in Model)
        {
            <li>
                <div class="card">

                    <h4>@obj.name</h4>
                    <br>
                    <form method="post" asp-action="Enroll">
                        <input type="hidden" value=@obj.id name="lessonInput">
                        <input type="submit" value="Enroll Now" class="btn btn-primary" />
                    </form>
                </div>
            </li>
        }
    </ul>
</div>

<style>
    .card {
        padding: 10px;
        border: 1px solid black;
    }

    ul {
        list-style: none;
    }

    li {
        margin: 5px 0px;
    }
</style>